.stockAnalogy .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.stockAnalogy .swiper-pagination-bullet-active {
    color: #fff;
    background: #122F89;
    width: 10px;
    height: 10px;
}

.stockAnalogy .swiper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.stockAnalogy.swiper-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.stockAnalogy.swiper-pagination {
    position: static;
}